<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'users')}">

  <body>

    <h2>Users</h2>

    <table id="" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">email</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}" th:onclick="'javascript:rowClicked(\'' + ${user.id} + '\');'">
              <td th:text="${user.name}"/>
              <td th:text="${user.email}"/>
              <td th:text="${user.type}"/>
          </tr>
        </tbody>
    </table>

    <script>
        function rowClicked(value) {
          location.href = "/users/" + value + "/edit";
        }
    </script>

  </body>
</html>
